@charset "UTF-8";

*{
  margin:0px;
  padding:0px;  
}

html, body{
    min-height: 100%;
    background-color:dark;

}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: uppercase;
    font-size:5vw;
}
header > p{
    padding-bottom: 50px;
    

}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration:underline;
}

section{
    padding-top:10vh;
    padding-bottom:10vh;
    padding-left:30px;
    font-family: Arial, Helvetica, sans-serif;
    
}

section.normal{
    background-color: grey;
    color:black;
}

section.imagem{
    background-color: black;
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgb(48, 44, 44);
    background-attachment: fixed;


}

section.imagem > p{
    width: 400px;
    background-color:rgba(0, 0, 0, 0.32);
    text-shadow: 1px 1px 0px black;

}

section#img01{
    background-image: url(../imagem/bboy-born01.png);
    background-position:left center;
    background-repeat: no-repeat;
    background-size: cover;
}

section#img02{
    background-image: url(../imagem/bboy-born03.png);
    background-position: center center ;
    background-repeat: no-repeat;
    background-size: cover;
}

section#img03{
    background-image: url(../imagem/bboy-born02.png);
    background-position:left center;
    background-repeat:no-repeat;
    background-size: cover;
}

footer{
    background-color:black;
    text-align: center;
    color: white;
    padding: 5px;
}