@charset "UTF-8";

*{
  margin:0px;
  padding:0px;  
}

html, body{
    min-height: 100%;
    background-color:dark;

}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: uppercase;
    font-size:5vw;
}
header > p{
    padding-bottom: 50px;
    

}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration:underline;
}

section{
    padding-top:10vh;
    padding-bottom:10vh;
    padding-left:30px;
    font-family: Arial, Helvetica, sans-serif;
    
}

section.normal{
    background-color: grey;
    color:black;
}

section.imagem{
    background-color: wheat;
    color: white;

}

section.imagem > p{
    width: 400px;
    background-color: rgb(228, 189, 130);

}

section#img01{
    background-image: url();
}

footer{
    background-color:black;
    text-align: center;
    color: white;
    padding: 5px;
}